.container__counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &-btn {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    button {
      width: 20%;
    }
  }
}
